body, p, span{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, a{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}
/* custom css style */
.main-menu .container-fluid, .slider-section .container-fluid{
    max-width: 1280px;
}
body .btn-primary{
    background-color: #e73c3e !important;
    border-color: #e73c3e;
    padding: 10px 20px;
    font-size: 18px;

    position: relative;
    z-index: 1;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;

    z-index: -1;
    transition: .3s;
}
body .btn-primary:hover::after{
    width: 100%;
    background-color: #e73c3e;
    border-color: #e73c3e;
}

/* menu */
ul.our-primary-menu{}
ul.our-primary-menu li{}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    color: black;
    padding: 10px 15px;
}

/* dropdown-menu */
ul.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li ul{
    position: absolute;
    width: 200px;
    left: 0;
    top: 150%;
    background: #fafafa;
    list-style: none;
    padding-left: 10px;
    box-shadow: 10px 10px 8px 10px #888888 ;

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;

}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
ul.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li ul li a{}



ul.our-primary-menu li a:hover{}

.header-info{}

.header-search{
    width: 50px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon{
    font-size: 27px;
    margin-left: 10px;
    color: #e73c3e;
}
.header-call-info{
    font-size: 17px;
    margin-right: 5px;
}
.header-call-info a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header-button{}

/* slider/banner css */
.slider-section{
    background: url(images/main-banner2.jpg) no-repeat top center;
    background-size: cover;
}
.slider-content-wrap{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.slider-content h6{
    color: #e73c3e;
}
.slider-content h1{
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.slider-content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}

.header-social{
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-social ul{
    list-style: none;
}
.header-social ul li{}
.header-social ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 2px 10px;
    font-size: 15px;
    color: #111;
}

/* began css part-2 */
.logo-section{
    border-bottom: 1px solid #ddd;
}
.client-logo{}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}
/* about-section */
.about-img {
    position: relative;
}

.about-img-text{
    position: absolute;
    right: 30px;
    bottom: 0;
    background: url(images/shape.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 210px;
    width: 210px;
    display: flex;
    text-align: center;
    justify-content: center;

}
.about-img-text h2{
    font-size: 60px;
    color: #e73c3e;
}
.about-img-text p{
    font-size: 18px;
    font-weight: 500;
}

.finix-text{}
.finix-text h6{
    font-size: 17px;
    color: #e73c3e;
}
.finix-text h2{
    font-size: 42px;
    font-weight: 400;
    padding: 10px 0px;
}
.finix-text p{
    font-size: 18px;
    color: #606060;
    line-height: 1.8;
}
.finix-text strong{
    font-size: 18px;
    color: #606060;
    font-weight: 400;
}
.finix-text ul{
    list-style: none;
    margin: 15px 0px;
    padding-left: 0;
}
.finix-text ul li{
    margin-left: 0;
}
.finix-text ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    color: #e73c3e;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    padding: 3px 0px;
}